<%- include('partials/header') %>
<div class="container mt-5">
  <h1> Delete Category</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/delete_category" method="POST">
    
              <div class="form-group">
                <label for="category_name">Category</label>
                <input type="text" class="form-control" name="category_name">
              </div>
             
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>

        </div>
      </div>
    </div>

  

  </div>
</div>

<%- include('partials/header') %>
